<h2>Редактировать <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :hint => "Оставьте пустым если не нужно изменять", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "ввидете ваш текущий пароль для подтверждения изменений", :required => true %>
  <%= f.button :submit, 'Изменить', :class => 'btn-primary' %>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Удалить мою учетную запись", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete %>.</p>
<%= link_to "Назад", :back %>
