<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<h3>Мои видео</h3>
<p class="operations"><%= link_to 'Добавить видео', new_user_video_path(@user) %></p>
<% @user.videos.each do |video| %>
  <p>Name: <%= video.name %></p>
  <p>Description: <%= video.description %></p>
  <p><%= raw(youtube_embed(video.src)) %></p>
  <p><%= link_to 'Редактировать', edit_user_video_path(@user, video)%>&nbsp;
     <%= link_to 'Удалить', [@user, video], method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <hr/>
<% end %>
<br/>
