<h3>Страница пользователя <%= @user.name %></h3>
<p>Пользователь: <%= @user.name %></p>
<% if @user == current_user %>
  <p><%= link_to 'Добавить видео', new_user_video_path(@user), class: "btn btn-large btn-primary"  %></p>
<% end %>
<% if @user.videos.any? %>
  <h3>Список видео (<%= @user.videos.count %>)</h3>
  <%= will_paginate @videos %>
  <ol class="videos">
    <%= render @videos %>
  </ol>
  <%= will_paginate @videos %>
<% end %>
<br/>
