<h3>Видео</h3>
<p>Наименование: <%= @video.name %></p>
<% if !@video.description.empty? %>
  <p>Описание: <%= @video.description %></p>
<% end %>
<div id="rating">
<p>Рейтинг: <%= @video.rating %></p>
</div>
<p>Добавил <%= link_to @video.user.name, @video.user %> <%= time_ago_in_words(@video.created_at) %> назад.</p>
<p>Тэги: <%= raw @video.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
<div style="width:360px;"><%= raw(youtube_embed(@video.src)) %></div>
<%= render 'videos/like_form' if current_user %>
<div id="comments_form">
<%= render :partial => "comments/comment",
           :collection => @comments %>
<%= will_paginate @comments %>
</div>
<div id="new_comment_form">
<%= render "comments/form" if current_user%>
</div>
<br/>
<%= link_to "На главную", root_path, class: "btn btn-large btn-secondary", id: "btn-home" %>
<% if current_user == @video.user %>
  <%= link_to "Изменить", edit_user_video_path(@user,@video), class: "btn btn-large btn-secondary" %>
  <%= link_to 'Удалить', [@user, @video], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-large btn-secondary" %>
<% end %>