<% provide(:title, 'Гимнастика при болях в спине, при грыже, при остеохондрозе - Спортнэ') %>
<% provide(:description, 'Видео гимнастика при болях в спине, при грыже, при остеохондрозе, упражнения при болях в пояснице') %>
<% provide(:keywords, 'Видео гимнастика при болях в спине, при грыже, при остеохондрозе, упражнения при болях в пояснице') %>
<div class="row">
  <div class="span4">
    <%= render 'inform' %>
    <div id="tag_cloud">
      <% tag_cloud Video.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>   
    <br/>
    <p><%= link_to "Популярные видео", popular_videos_path, class: "btn btn-large btn-secondary" %>
    <%= link_to "Новые видео", recent_videos_path, class: "btn btn-large btn-secondary" %></p>
    <p><%= link_to 'Добавить видео', new_user_video_path(@user), class: "btn btn-large btn-secondary" if @user %>
    </p>
  </div>
  <div class="span4">
    <h3>Популярные видео</h3>
      <div class="videos">
        <%= render @popular_videos %>
      </div>    
  </div>
  <div class="span4">
    <h3>Новые видео</h3>
      <div class="videos">
        <%= render @recent_videos %>
      </div>    
  </div>

</div>

