<h2>Добро пожаловать на сайт Здоровой спины - Спортнэ</h2>
<h3>Популярные видео</h3>
  <div class="videos">
    <%= render @popular_videos %>
  </div>
<p><%= link_to "Все популярные видео", popular_videos_path %></p>
<h3>Новые видео</h3>
  <div class="videos">
    <%= render @recent_videos %>
  </div>
<p><%= link_to "Последние видео", recent_videos_path %></p>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

